In [1]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.'''

'Q1. What is a database? Differentiate between SQL and NoSQL databases.'

In [2]:
# If we talk about database so database is simply used to store our data ....

# A simple difference between SQL and NO SQl is given below....

In [3]:
# SQL ---

# 1.RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
# 2.These databases have fixed or static or predefined schema
# 3.These databases are not suited for hierarchical data storage.
# 4.These databases are best suited for complex queries
# 5.Vertically Scalable
# 6.Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

In [4]:
# NO SQL ----

# 1.Non-relational or distributed database system.
# 2.They have a dynamic schema
# 3.These databases are best suited for hierarchical data storage.
# 4.These databases are not so good for complex queries
# 5.Horizontally scalable
# 6.Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [5]:
'''Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example'''

'Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example'

In [6]:
# Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands
# like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

In [7]:
# Command-1 :
'''CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.'''

'CREATE :\nThis command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.'

In [8]:
CREATE TABLE Student_info(College_Id number(2),College_name varchar(30),Branch varchar(10));

SyntaxError: invalid syntax (4175920542.py, line 1)

In [9]:
# Command-2 :
'''ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do 
add, delete or modify tasks easily.'''

'ALTER :\nThis command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do \nadd, delete or modify tasks easily.'

In [10]:
ALTER TABLE Student_info
ADD CGPA number;

SyntaxError: invalid syntax (3549970223.py, line 1)

In [11]:
# Command-3 :
'''TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.'''

'TRUNCATE :\nThis command is used to remove all rows from the table, but the structure of the table still exists.'

In [12]:
TRUNCATE TABLE Student_info;

SyntaxError: invalid syntax (1145199434.py, line 1)

In [13]:
# Command-4 :
'''DROP :
This command is used to remove an existing table along with its structure from the Database.'''

'DROP :\nThis command is used to remove an existing table along with its structure from the Database.'

In [14]:
DROP TABLE Student_info;

SyntaxError: invalid syntax (3543308448.py, line 1)

In [15]:
'''Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.'''

'Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.'

In [16]:
'''DML stands for  Data Manipulation Language.The DML commands in Structured Query Language change the data present in the SQL database.
We can easily access, store, modify, update and delete the existing records from the database using DML commands.'''

'DML stands for  Data Manipulation Language.The DML commands in Structured Query Language change the data present in the SQL database.\nWe can easily access, store, modify, update and delete the existing records from the database using DML commands.'

In [17]:
# INSERT DML Command
'''INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database 
tables'''

INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;

SyntaxError: invalid syntax (2370565149.py, line 5)

In [18]:
# UPDATE DML Command
'''UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the
existing data in database tables.'''

UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;

SyntaxError: invalid character '…' (U+2026) (389063026.py, line 5)

In [19]:
# DELETE DML Command
'''DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.

This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with
the DELETE command to select specific rows from the table.'''

DELETE FROM Table_Name WHERE condition;

SyntaxError: invalid syntax (1498413913.py, line 7)

In [20]:
# THE ERRORS OCCURS DUE TO USAGE OF JUPTER NOTEBOOK,,,,NOT USING MY SQL PLUS PYTHON

In [21]:
'''Q4. What is DQL? Explain SELECT with an example.'''

'Q4. What is DQL? Explain SELECT with an example.'

In [22]:
'''DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema
relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from
the database and imposing order upon it. It includes the SELECT statement.'''

'DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema\nrelation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from\nthe database and imposing order upon it. It includes the SELECT statement.'

In [23]:
select *
from employee;  
asterisk mark (*) indicates that all the rows are retrieved from the table.

SyntaxError: invalid syntax (4180167571.py, line 1)

In [24]:
select avg(salary) 
from employee; 
This displays the average salary of the employees.

SyntaxError: invalid syntax (4097086616.py, line 1)

In [25]:
'''Q5. Explain Primary Key and Foreign Key.'''

'Q5. Explain Primary Key and Foreign Key.'

In [26]:
# A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values.

# Example: STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key
# (only one out of many candidate keys).

In [28]:
# A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

# Example: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

In [29]:
'''Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'''

'Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'

In [31]:
# Required is generally used to connect the MYSQL with the python.....

'''import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()'''

'import mysql.connector\n# import mysql.connector\n#create user \'user\'@\'%\' identified by \'password\'\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nprint(mydb)\nmycursor = mydb.cursor()'

In [32]:
# CURSOR()---

'''This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are 
bound to the variables in the operation'''

'This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are \nbound to the variables in the operation'

In [ ]:
'''Q7. Give the order of execution of SQL clauses in an SQL query'''

In [ ]:
# ORDER GIVEN BELOW

# 1.FROM/JOIN: to determine the data of interest
# 2.ON: to specify the join conditions
# 3.WHERE: to filter out records that do not meet the constraints
# 4.GROUP BY: to group the data based on the values in one or more columns
# 5.HAVING: to filter out groups that do not meet the conditions
# 6.SELECT: to project the columns of interest
# 7.DISTINCT: to eliminate duplicate rows
# 8.ORDER BY: to sort the rows by one or more columns
# 9.LIMIT/OFFSET or TOP: to limit the number of rows returned